/* Index/Home styles  */

.delayed-animation {
        position:relative;
        background-image: url("../images/keyboard-min.png");
        height: 200px;
        width: 200px;
        animation-name: example;
        animation-duration: 4s;
        animation-delay: 5s;
        animation-iteration-count: infinite;
        margin-bottom: -86px;
        margin-left: 5px;
      }
    
      @keyframes example {
        0%   {left:0px; top:0px;}
        25%  {left:200px; top:0px;}
        50%  {left:0px; top:0px;}
        75%  {left:200px; top:0px;}
        100% {left:0px; top:0px;}
      }



.components-banner {
        z-index: 1;
}
      

/* Products styles */


.blank-space{
        height: 200px;
}


.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        margin-bottom: 200px;
}        


.grid div {
  display: grid;
  place-items: center; /* Centra la imagen dentro del div */
  background-color: gray;
  border-radius: 5%;
  cursor: pointer;
}

.grid div:hover {
        background-color:rgb(99, 99, 99);
}

.grid img {
  width: 150px; /* Define el ancho de las imágenes */
}

.grid h5, .grid p {
        color: azure;
}    
      
#logo-razer {
        width: 100px;
        height: 100px;
        animation-name: spin;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    

/* About us styles */

#capa{
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
        width: 600px;
}

.title{
        text-align: center;
}

.about-us-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        text-align: center;
        padding: 20px;
}
.about-us {
        max-width: 600px;
        background: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-us p {
        font-size: 1rem;
        line-height: 1.6;
}

/* Build your setup page Styles */



/* Contact Us Styles */

#contact{
        margin-top: 5%;
        text-align: center;
}


.grid-socials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 100px;
}

.grid-socials img {
        width: 80px;
        cursor: pointer;
}
        
        